.ingredients-list {
  list-style: none;
  padding: 0;
}
button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.delete-ingredient {
  background-color: red;
  height: 2em;
  width: 2em;
  border-radius: 4px;
}

.ingredients-card {
  border-radius: 12px;
  border: 10px;
  border-color: aliceblue;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  width: 80%;
  margin-left: 10%;
  font-weight: bold;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #4b4b4b;
}
